.longgroveimage {
  background-image: url('/images/longgrove.jpg');
  min-height: 400px;
}

.stanfordimage {
  background-image: url('/images/stanford.jpg');
  min-height: 400px;
}

.hobbiesimage {
  background-image: url('/images/beach.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: black;
  color: white;
}

.abouttext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.abouttext .border.trans {
  background-color: transparent;
}

@media(max-width:568px) {
  .blackbackgroundimage, .longgroveimage, .stanfordimage, .hobbiesimage{
    background-attachment:scroll;
  }
}
