.section {
  text-align: center;
  padding: 100px 160px;
  min-height: 100%;
}

.section-dark {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  resize: none;
  align-content: center;
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
  margin: auto;
}

input[type=text]:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

textarea:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

label {
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

.user-review-container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}

.col {
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 170px;
}

.submit-button {
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 50px;
  color: #00d7c3;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

.submit-button:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.recent-button {
  border: 2px solid #3c73ff;
  background-color: #3c73ff;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
}

.recent-button:hover {
  box-shadow: 8px 8px #99bdff;
  transition: 0.3s;
}

.delete-button {
  background-color: transparent;
  border: 3px solid #ff0251;
  color: #ff0251;
  transition: 0.3s;
}

.delete-button:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#reviews-container {
  border-style: solid;
  border-color: blue;
}

.sign {
  background-image:
    radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
  letter-spacing: 2;
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow:
    0 0 0.6rem #ffe6ff,
    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd,
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483,
    0 0.5rem 3rem #ff2483;
  animation:
    shine 2s forwards,
    flicker 3s infinite;
  margin: 50px;
}

/* Cause text to increase / decrease glow */
@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow:
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }

  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }

  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

/* medium speed shine/blink */
.flicker {
  animation:
    shine 2s forwards,
    blink 3s 2s infinite;
}

/* fast speed shine/blink */
.fast-flicker {
  animation:
    shine 2s forwards,
    blink 10s 1s infinite;
}

/* glow text */
@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }

  100% {
    color: #ffe6ff;
    text-shadow:
      0 0 0.6rem #ffe6ff,
      0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd,
      0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483,
      0 0.5rem 3rem #ff2483;
  }
}

/* make text go from glowing -> dim -> glowing */
@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.reviewer-input {
  height: 200px;
}